footer {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 4vh 0;
    background-color: rgba(24, 24, 28, 1);
    margin-top: 10vh;
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.3);
}