:root {
  --color-bgc: rgba(33, 33, 37, 1);
  --color-text-primary: rgba(234, 234, 234, 1);
  --color-text-secundary: rgba(255, 85, 158, 1);
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bgc);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maxWidthContainer {
  max-width: 1039px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
